// Ordena los bloques horizontal o verticalmente
@mixin flex($flex-direction, $flex-wrap, $justify-content, $align-items ){

    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin media($min-width:480px){
    @media screen and (min-width: $min-width){
        @content;
    }
}

// @mixin media($breakpoint){
//     @if ($breakpoint == xs){
//         @media  screen and (min-width: map-get($breakpoints,mobile)) {
//             @content;
//         }
//     }
//     @else if ($breakpoint == sm){
//         @media  screen and (min-width: map-get($breakpoints,vtablet)) {
//             @content;
//         }
//     }
//     @else if ($breakpoint == md){
//         @media  screen and (min-width: map-get($breakpoints,htablet)) {
//             @content;
//         }
//     }
//     @else if ($breakpoint == lg){
//         @media  screen and (min-width: map-get($breakpoints,desktop)) {
//             @content;
//         }
//     }
//     @else if ($breakpoint == xl){
//         @media  screen and (min-width: map-get($breakpoints,xdesktop)) {
//             @content;
//         }
//     }
//     @else{
//         @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
//     }
// }