@font-face {
    font-family: open-sans-regular;
    src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: open-sans-semibold;
    src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}