// fw=300
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Light.ttf) format('truetype');
    font-weight: $fw-light;
    font-style: normal;
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-LightItalic.ttf) format('truetype');
    font-weight: $fw-light;
    font-style: italic;
}

// fw=400
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

// fw=500
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Medium.ttf) format('truetype');
    font-weight: $fw-medium;
    font-style: normal;
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-MediumItalic.ttf) format('truetype');
    font-weight: $fw-medium;
    font-style: italic;
}

// fw=600
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBold.ttf) format('truetype');
    font-weight: $fw-semibold;
    font-style: normal;
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf) format('truetype');
    font-weight: $fw-semibold;
    font-style: italic;
}

// fw=700
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Bold.ttf) format('truetype');
    font-weight: $fw-bold;
    font-style: normal;
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-BoldItalic.ttf) format('truetype');
    font-weight: $fw-bold;
    font-style: italic;
}

// fw=800
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBold.ttf) format('truetype');
    font-weight: $fw-extrabold;
    font-style: normal;
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf) format('truetype');
    font-weight: $fw-extrabold;
    font-style: italic;
}




// // fw=300
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-Light.ttf) format('truetype');
//     font-weight: $fw-light;
//     font-style: normal;
// }
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-LightItalic.ttf) format('truetype');
//     font-weight: $fw-light;
//     font-style: italic;
// }

// // fw=400
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-Regular.ttf) format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-Italic.ttf) format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

// // fw=500
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-Medium.ttf) format('truetype');
//     font-weight: $fw-medium;
//     font-style: normal;
// }
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-MediumItalic.ttf) format('truetype');
//     font-weight: $fw-medium;
//     font-style: italic;
// }

// // fw=600
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
//     font-weight: $fw-semibold;
//     font-style: normal;
// }
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-SemiBoldItalic.ttf) format('truetype');
//     font-weight: $fw-semibold;
//     font-style: italic;
// }

// // fw=700
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-Bold.ttf) format('truetype');
//     font-weight: $fw-bold;
//     font-style: normal;
// }
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-BoldItalic.ttf) format('truetype');
//     font-weight: $fw-bold;
//     font-style: italic;
// }

// // fw=800
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-ExtraBold.ttf) format('truetype');
//     font-weight: $fw-extrabold;
//     font-style: normal;
// }
// @font-face {
//     font-family: open-sans;
//     src: url(../assets/fonts/OpenSans-ExtraBoldItalic.ttf) format('truetype');
//     font-weight: $fw-extrabold;
//     font-style: italic;
// }


