@charset "UTF-8";
:root {
  --c-primary-300: #8bc1ff;
  --c-primary-400: #009bff;
  --c-primary-500: #026dce;
  --c-primary-600: #00154e;
  --c-primary-700: #011b34;
  --c-secondary-100: #fff;
  --c-secondary-200: #e0e0e0;
  --c-secondary-300: #979797;
  --c-secondary-400: #686868;
  --c-secondary-500: #4a4a4a;
  --c-secondary-600: #373737;
  --c-secondary-700: #272727;
  --c-secondary-800: #202020;
  --c-secondary-900: #000;
  --c-semantic-success-500: #af0;
  --c-semantic-success-600: #79aa00;
  --c-semantic-warning-500: #f2a007;
  --c-semantic-warning-600: #ba7209;
  --c-semantic-danger-500: #ff4141;
  --c-semantic-danger-600: #ba3232;
  --c-shadow-down: 0px 2px 4px rgba(0,0,0,0.5);
  --c-shadow-1: 4px 2px 4px 2px #202020;
  --ff-backup: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ff-light: var(--ff-backup);
  --ff-regular: var(--ff-backup);
  --ff-semi-bold: var(--ff-backup);
  --ff-bold: var(--ff-backup);
  --ff-extra-bold: var(--ff-backup);
  --ff-icons-regular: fa-regular, sans-serif;
  --ff-icons-solid: fa-solid, sans-serif;
  --ff-icons-brands: fa-brands, sans-serif;
  --ff-open-sans-light: open-sans-light, var(--ff-backup);
  --ff-open-sans-regular: open-sans-regular, var(--ff-backup);
  --ff-open-sans-semibold: open-sans-semibold, var(--ff-backup);
  --ff-open-sans-bold: open-sans-bold, var(var(--ff-backup));
  --ff-open-sans-extrabold: open-sans-extrabold, var(--ff-backup);
  --ff-light: var(--ff-open-sans-light);
  --ff-regular: var(--ff-open-sans-regular);
  --ff-semibold: var(--ff-open-sans-semibold);
  --ff-bold: var(--ff-open-sans-bold);
  --ff-extrabold: var(--ff-open-sans-extrabold);
  --bk-xs: 0;
  --bk-sm: 544px;
  --bk-md: 768px;
  --bk-lg: 992px;
  --bk-xl: 1200px;
  --bk-xxl: 1440px;
  --bk-hd: 1600px;
  --c-body-color: var(--c-secondary-100);
  --c-body-bg: var(--c-secondary-800);
}

/* Define the custom properties */
:root {
  /* Colores */
  --color-primary: #181818;
  --color-secondary: #f0f0f0;
  /* Tipografía */
  --font-primary: Helvetica, Arial, sans-serif;
  --font-secondary: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f0f0f0;
    --color-secondary: #181818;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primary: black;
    --color-secondary: white;
  }
}
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  /* (Opcional) */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: open-sans-light;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Light.ttf) format("truetype");
}
@font-face {
  font-family: open-sans-light;
  src: url(../assets/fonts/OpenSans_SemiCondensed-LightItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: open-sans-regular;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Regular.ttf) format("truetype");
}
@font-face {
  font-family: open-sans-regular;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Italic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: open-sans-medium;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Medium.ttf) format("truetype");
}
@font-face {
  font-family: open-sans-medium;
  src: url(../assets/fonts/OpenSans_SemiCondensed-MediumItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: open-sans-semibold;
  src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: open-sans-semibold;
  src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: open-sans-bold;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Bold.ttf) format("truetype");
}
@font-face {
  font-family: open-sans-bold;
  src: url(../assets/fonts/OpenSans_SemiCondensed-BoldItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: open-sans-extrabold;
  src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: open-sans-extrabold;
  src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: fa-regular;
  src: url(../assets/fonts/fa-regular-400.ttf) format("truetype");
}
@font-face {
  font-family: fa-solid;
  src: url(../assets/fonts/fa-solid-900.ttf) format("truetype");
}
@font-face {
  font-family: fa-brands;
  src: url(../assets/fonts/fa-brands-400) format("truetype");
}
html {
  font-family: var(--ff-regular);
}

body {
  background-color: var(--c-body-bg);
  color: var(--c-body-color);
  -webkit-hyphens: none;
          hyphens: none;
}

.banner {
  background-color: black;
  width: 100%;
  padding: 0.5rem;
}
.banner__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: initial;
  border-radius: 0.25rem;
  overflow: hidden;
}
@media screen and (max-width: var(--bk-lg)) {
  .banner__container {
    background-image: url("/KrTrade.Web/assets/images/header_background.png"), linear-gradient(to right, #2D9CDB 0%, #003B70 100%);
  }
}
@media screen and (max-width: 991px) {
  .banner__container {
    background-image: url("/KrTrade.Web/assets/images/header_background.png"), linear-gradient(to right, #2D9CDB 0%, #003B70 100%);
  }
}
@media screen and (min-width: 991px) {
  .banner__container {
    background-image: linear-gradient(to right, #2D9CDB 0%, #003B70 100%);
  }
}
.banner__img {
  height: 6.5rem;
  width: 20rem;
}
@media screen and (max-width: 991px) {
  .banner__img {
    margin-left: -20rem;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .banner__img {
    margin-left: -10rem;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 1199px) {
  .banner__img {
    margin-left: 0rem;
    transition: all 0.3s ease;
  }
}
.banner__content {
  margin: 0 1rem;
  line-height: 1.5rem;
}
.banner__h1 {
  font-size: 1.25rem;
  font-weight: 700;
}
.banner__p {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0.5rem 0;
  line-height: 1.5;
}
.banner__button {
  margin: 0 1rem 0 0;
}
.banner__btn {
  color: black;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: lime;
  padding: 0.75rem 1.2rem;
  border-radius: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
}
.header__banner {
  background-color: blue;
  margin: 0.5rem;
  border-radius: 0.2rem;
  max-height: 104px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: initial;
}
.header__img {
  height: 104px;
  width: 320px;
}
@media screen and (min-width: 380px) and (max-width: 994px) {
  .header__img {
    display: none;
  }
}
@media screen and (min-width: 994px) and (max-width: 1199px) {
  .header__img {
    margin-left: -160px;
  }
}
.header__nav {
  background-color: yellow;
}