@charset "UTF-8";
:root {
  --cl-primary: #000;
  --bk-mobile-xs: $bk-mobile-xs;
  --bk-mobile: $bk-mobile;
  --bk-tablet: $bk-tablet;
  --bk-tablet-h: $bk-tablet-h;
  --bk-laptop: $bk-laptop;
  --bk-desktop: $bk-desktop;
  --bk-desktop-xl: $bk-desktop-xl;
}

/* Define the custom properties */
:root {
  /* Colores */
  --color-primary: #181818;
  --color-secondary: #f0f0f0;
  /* Tipografía */
  --font-primary: Helvetica, Arial, sans-serif;
  --font-secondary: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f0f0f0;
    --color-secondary: #181818;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primary: black;
    --color-secondary: white;
  }
}
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  /* (Opcional) */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: open-sans;
  src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}
html {
  font-family: open-sans;
}

body {
  background-color: black;
  color: white;
  -webkit-hyphens: none;
          hyphens: none;
}

.banner {
  background-color: black;
  width: 100%;
  padding: 0.5rem;
}
.banner__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: initial;
  border-radius: 0.25rem;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .banner__container {
    background-image: url("/KrTrade.Web/assets/images/header_background.png"), linear-gradient(to right, #2D9CDB 0%, #003B70 100%);
  }
}
@media screen and (min-width: 991px) {
  .banner__container {
    background-image: linear-gradient(to right, #2D9CDB 0%, #003B70 100%);
  }
}
.banner__img {
  height: 6.5rem;
  width: 20rem;
}
@media screen and (max-width: 991px) {
  .banner__img {
    margin-left: -20rem;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .banner__img {
    margin-left: -10rem;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 1199px) {
  .banner__img {
    margin-left: 0rem;
    transition: all 0.3s ease;
  }
}
.banner__content {
  margin: 0 1rem;
  line-height: 1.5rem;
}
.banner__h1 {
  font-weight: 700;
  font-size: 1.25rem;
}
.banner__p {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0.5rem 0;
  line-height: 1.5;
}
.banner__button {
  margin: 0 1rem 0 0;
}
.banner__btn {
  color: black;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: lime;
  padding: 0.75rem 1.2rem;
  border-radius: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
}
.header__banner {
  background-color: blue;
  margin: 0.5rem;
  border-radius: 0.2rem;
  max-height: 104px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: initial;
}
.header__img {
  height: 104px;
  width: 320px;
}
@media screen and (min-width: 380px) and (max-width: 994px) {
  .header__img {
    display: none;
  }
}
@media screen and (min-width: 994px) and (max-width: 1199px) {
  .header__img {
    margin-left: -160px;
  }
}
.header__nav {
  background-color: yellow;
}