@charset "UTF-8";
/* Define the custom properties */
:root {
  /* Colores */
  --color-primary: #181818;
  --color-secondary: #f0f0f0;
  /* Tipografía */
  --font-primary: Helvetica, Arial, sans-serif;
  --font-secondary: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f0f0f0;
    --color-secondary: #181818;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primary: black;
    --color-secondary: white;
  }
}
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
  /* (Opcional) */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.body {
  background-color: black;
  color: white;
  -webkit-hyphens: none;
          hyphens: none;
}

main {
  width: 90%;
  background-color: coral;
}

/*.nav{
    background-color: gray;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0em 1em;
    max-height: 3em;
}

.navlogo{
    background-color:brown;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    &__img{
        object-fit:contain;
        width: 2em;
    }
    &__p{
        align-self: center;
    }
}

.navmenu{
    background-color: magenta;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
}*/
.header {
  background-color: red;
  position: fixed;
}

.header-banner {
  background-color: blue;
  margin: 0.5rem;
  max-height: 10rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-banner__img {
  background-color: red;
}
.header-banner__texts {
  background-color: aqua;
}
.header-banner__buttons {
  background-color: magenta;
}
.header-nav {
  background-color: yellowgreen;
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-nav__buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-banner-button {
  background-color: gray;
}

.header-nav-logo {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-nav-logo__icon {
  background-color: antiquewhite;
}
.header-nav-menu__header {
  top: 20em;
}
.header-nav-menu__items {
  display: none;
}

/*.header{

    // General properties
    background-color: blue;
    // Text properties
    overflow-wrap:break-word;
    text-justify: auto;
    // Flex properties
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    // Adjust-decoration properties
    max-height: 6.5em;
    border-radius: .5em;
    margin: .5em;

    &__left{
        align-self: center;
        &__img{
        }
    }
    &__middle{
        padding: 0.5em;
        &__h{
        }
        &__p{
        }
    }
    &__right{
        align-self: center;
    }
}*/
.main {
  background-color: lime;
}

.footer {
  background-color: brown;
  color: yellow;
}

/*.btn
{
    background-color: red;
    &__header{
        &--reg{
            background-color: saddlebrown;
        }
        &--login{
            background-color: pink;
        }
        &--signup{
            background-color: orange;
        }
        &--lan{
            background-color: yellowgreen;
        }

    }

}*/