// Ordena los bloques horizontal o verticalmente
@mixin flex($display, $direction, $wrap, $justify, $align){

    display: $display;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin media($type, $bk){
    @if($type==min){
        @media  screen and (min-width: $bk) {
            @content; 
        }
    }
    @else if ($type==max){
        @media  screen and (max-width: $bk) {
            @content;
        }
    }
    @else{
        @error "UNKNOWN MEDIA PARAMETER. THE FIRST PARAMETER MUST BE 'min' or 'max'.";  
    }
}