// fw=300
@font-face {
    font-family: open-sans-light;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Light.ttf) format('truetype');
}
@font-face {
    font-family: open-sans-light;
    src: url(../assets/fonts/OpenSans_SemiCondensed-LightItalic.ttf) format('truetype');
    font-style: italic;
}

// fw=400
@font-face {
    font-family: open-sans-regular;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Regular.ttf) format('truetype');
}
@font-face {
    font-family: open-sans-regular;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Italic.ttf) format('truetype');
    font-style: italic;
}

// fw=500
@font-face {
    font-family: open-sans-medium;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Medium.ttf) format('truetype');
}
@font-face {
    font-family: open-sans-medium;
    src: url(../assets/fonts/OpenSans_SemiCondensed-MediumItalic.ttf) format('truetype');
    font-style: italic;
}

// fw=600
@font-face {
    font-family: open-sans-semibold;
    src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: open-sans-semibold;
    src: url(../assets/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf) format('truetype');
    font-style: italic;
}

// fw=700
@font-face {
    font-family: open-sans-bold;
    src: url(../assets/fonts/OpenSans_SemiCondensed-Bold.ttf) format('truetype');
}
@font-face {
    font-family: open-sans-bold;
    src: url(../assets/fonts/OpenSans_SemiCondensed-BoldItalic.ttf) format('truetype');
    font-style: italic;
}

// fw=800
@font-face {
    font-family: open-sans-extrabold;
    src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: open-sans-extrabold;
    src: url(../assets/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf) format('truetype');
    font-style: italic;
}

// icons
@font-face {
    font-family: fa-regular;
    src: url(../assets/fonts/fa-regular-400.ttf) format('truetype');
}
@font-face {
    font-family: fa-solid;
    src: url(../assets/fonts/fa-solid-900.ttf) format('truetype');
}
@font-face {
    font-family: fa-brands;
    src: url(../assets/fonts/fa-brands-400) format('truetype');
}
