// Breakpoints
$bk-mobile-xs:      320px;
$bk-mobile:         480px;
$bk-tablet:         600px;
$bk-tablet-h:       768px;
$bk-laptop:         991px;
$bk-desktop:        1199px;
$bk-desktop-xl:     1400px;

// font weights
$fw-black:          900;
$fw-extrabold:      800; 
$fw-bold:           700; 
$fw-semibold:       600; 
$fw-medium:         500; 
$fw-regular:        400; 
$fw-light:          300; 
$fw-extralight:     200; 
$fw-thin:           100; 

// font sizes
$fs-xxsmall:        .375rem;
$fs-xsmall:         .5rem; 
$fs-small:          .625rem; 
$fs-regular:        .75rem; 
$fs-medium:         .875rem; 
$fs-large:          1rem; 
$fs-xlarge:         1.25rem; 
$fs-xxlarge:        1.5rem; 

//Colors
$cl-primary:       #000000;

:root{

    // colors palette
    --c-primary-300: #8bc1ff;
    --c-primary-400: #009bff;
    --c-primary-500: #026dce;
    --c-primary-600: #00154e;
    --c-primary-700: #011b34;
    --c-secondary-100: #fff;
    --c-secondary-200: #e0e0e0;
    --c-secondary-300: #979797;
    --c-secondary-400: #686868;
    --c-secondary-500: #4a4a4a;
    --c-secondary-600: #373737;
    --c-secondary-700: #272727;
    --c-secondary-800: #202020;
    --c-secondary-900: #000;
    --c-semantic-success-500: #af0;
    --c-semantic-success-600: #79aa00;
    --c-semantic-warning-500: #f2a007;
    --c-semantic-warning-600: #ba7209;
    --c-semantic-danger-500: #ff4141;
    --c-semantic-danger-600: #ba3232;
    --c-shadow-down: 0px 2px 4px rgba(0,0,0,0.5);
    --c-shadow-1: 4px 2px 4px 2px #202020;
    
    // fonts
    --ff-backup: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --ff-light: var(--ff-backup);
    --ff-regular: var(--ff-backup);
    --ff-semi-bold: var(--ff-backup);
    --ff-bold: var(--ff-backup);
    --ff-extra-bold: var(--ff-backup);
    --ff-icons-regular: fa-regular, sans-serif;
    --ff-icons-solid: fa-solid, sans-serif;
    --ff-icons-brands: fa-brands, sans-serif;

    --ff-open-sans-light: open-sans-light, var(--ff-backup);
    --ff-open-sans-regular: open-sans-regular, var(--ff-backup);
    --ff-open-sans-semibold: open-sans-semibold, var(--ff-backup);
    --ff-open-sans-bold: open-sans-bold, var(var(--ff-backup));
    --ff-open-sans-extrabold: open-sans-extrabold, var(--ff-backup);

    --ff-light: var(--ff-open-sans-light);
    --ff-regular: var(--ff-open-sans-regular);
    --ff-semibold: var(--ff-open-sans-semibold);
    --ff-bold: var(--ff-open-sans-bold);
    --ff-extrabold: var(--ff-open-sans-extrabold);

    // breakpoints
    --bk-xs: 0;
    --bk-sm: 544px;   
    --bk-md: 768px;   
    --bk-lg: 992px; 
    --bk-xl: 1200px;  
    --bk-xxl: 1440px;  
    --bk-hd: 1600px;

    // Colors
    --c-body-color: var(--c-secondary-100);
    --c-body-bg: var(--c-secondary-800);
}