.header{

    // General properties
    background-color: blue;
    // Text properties
    overflow-wrap:break-word;
    text-justify: auto;
    // Flex properties
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    // Adjust-decoration properties
    max-height: 6.5em;
    border-radius: .5em;
    margin: .5em;

    &__left{
        align-self: center;
        &__img{
        }
    }
    &__middle{
        padding: 0.5em;
        &__h{
        }
        &__p{
        }
    }
    &__right{
        align-self: center;
    }
}

