/*.btn
{
    background-color: red;
    &__header{
        &--reg{
            background-color: saddlebrown;
        }
        &--login{
            background-color: pink;
        }
        &--signup{
            background-color: orange;
        }
        &--lan{
            background-color: yellowgreen;
        }

    }

}*/