.wrapper{
    width: 100%;
}

.Body{
    background-color: var(--c-body-bg);
    color:  var(--c-body-color);
    font-family: var(--ff-regular);
    hyphens: none;
}

.Header{
    &-wrapper{
        background-color: green;
    }
    &-banner{
        background-color: lime;
    }
    &-nav{
       background-color: crimson; 
    }
}

.Main{
    background-color: lightgrey;
}

.Footer{
    background-color: gray;
}

