.Vmenu{
    position: relative;
    &-head{
        background-color: black;
        &:after{
            content:'>';
            background-color: yellowgreen;
            display: inline-flex;
            
        }
    }
    &-items{
        background-color: white;
        position: absolute;
    }
    &-item{}
    &-link{}
    &-text{}
}










